@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.barra-superior{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.barra-busqueda{
    display: flex;
    width: 45%;
    justify-content: center;
}

.logo{
    width: 45%;
    margin: 10px;
}

.busqueda{
    margin: 0px;
    border: hidden;
    height: 30px;
    padding: 5px;
    width: 90%;
}

.fa-search {
    background-color: white;
    margin: 0px;
    padding: 5px;
    height: 30px;
    text-align: center;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
    color: #666;
}

.cuerpos{
    font-size: 12px;
}

.titulares{
    font-size: 24px;
}

.precios{
    font-size: 18px;
    color: black;
    width: 30%;
}

.descuentos{
    color: #39b54a;
    width: 70%
}

.descuentos, .descripciones{
    font-size: 16px;
}



#cuotas {
    text-align: center;
    margin: 20px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
}

a {
    color: black;
    text-decoration: none;
    text-align: left;
}

.site, .login-navbar{
    display: none;
}

.burger-menu{
    background-color: #1259c3;
    width: 25px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 20px;

}

header{
    background-color: #EAC926;
    margin: 0px;
    padding-bottom: 10px;
}



.banner{
    margin: 0px;
}

main{
    margin: 0 auto;
    width: 90%;
}

.producto{
    margin: 10px;
    margin-bottom: 10px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detalles{
    margin: 0px;
    background-color: white;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.descripciones {
    margin-top: 10px;
    display: none;
}

.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

footer {
    text-align: center;
    background-color: white;
}

.icono {
    font-size: 2em;
    margin: 0px;
    margin-bottom: 10px;
    padding-top: 40px;
}

.foot {
    margin: 0px;
    color: #666;
}

.cuerpos-foot{
    font-size: 12px;
    color: #666;
    margin: 0 auto;
    width: 70%;
}


.registro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px; /* Puedes ajustar el valor según tus preferencias */
    margin: 0 auto;  /* Esto centrará el contenedor horizontalmente */
}

form{
    display: flex;
    align-items: center;
}

form li{
    margin: 10px;
}

@media (min-width: 361px) {
    .barra-superior{
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .logo{
        width: 30%;
    }

    .barra-busqueda{
        width: 30%;
    }

    #cuotas{
        width: 30%;
    }

    .descripciones, .site, .login-navbar{
        display: block;        
    }

    .site, .login-navbar {
        width: 40%;
    }



    .nav-bar{
        display: flex;
        justify-content: space-between;
    }

    .site .cuerpos{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .login-navbar .cuerpos{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 1100);
        width: 40%;
    }

    .burger-menu{
        display: none;
    }

}

@media(min-width: 769px){
    .producto{
        width: 22%;
    }
}